<div class="row mw-100 mh-100 m-1" style="justify-content: center; padding: 5%;">
  <h2 align="center">
    Inicio de sesion
  </h2>
</div>
<div class="row mw-100 mh-100 m-1" style="justify-content: center; padding-top: 3%;">
  <div class="w-100 h-50" style="justify-content: center">
    <div class="w-50 h-25" style="margin-left: 25%;">
      <h2 align="center">
        nombre de usuario:
      </h2>

      <input class="w-100" type="text" id="lname" name="lname"><br>
    </div>

  </div>
  <div class="w-100 h-50" style="justify-content: center">
    <div class="w-50 h-25" style="margin-left: 25%;">
      <h2 align="center">
        contraseña:
      </h2>

      <input class="w-100" type="text" id="lname" name="lname"><br>
    </div>

  </div>
  <div class="w-100 h-50" style="justify-content: center; margin-left: 39%; padding: 2%;">
    <button class = "l-10" >Iniciar Sesion</button>
    <button class = "l-10" style="margin-left: 5%;" >Registrar Usuario</button>
  </div>
</div>