<div class="row mw-100 mh-100 m-1">
<div class = "w-50 h-50">
<h2 align="center">
  Seleccionar Carta De La Loteria
</h2>

<img alt="gallo" id="cards (1)" src="../../../assets/images/cards (1).jpg" (click)="seleccionarCarta($event)">
<img alt="diablo" id="cards (2)" src="../../../assets/images/cards (2).jpg" (click)="seleccionarCarta($event)">
<img alt="dama" id="cards (3)" src="../../../assets/images/cards (3).jpg" (click)="seleccionarCarta($event)">
<img alt="catrin" id="cards (4)" src="../../../assets/images/cards (4).jpg" (click)="seleccionarCarta($event)">
<img alt="paraguas" id="cards (5)" src="../../../assets/images/cards (5).jpg" (click)="seleccionarCarta($event)">
<img alt="sirena" id="cards (6)" src="../../../assets/images/cards (6).jpg" (click)="seleccionarCarta($event)">
<img alt="escalera" id="cards (7)" src="../../../assets/images/cards (7).jpg" (click)="seleccionarCarta($event)">
<img alt="botella" id="cards (8)" src="../../../assets/images/cards (8).jpg" (click)="seleccionarCarta($event)">
<img alt="barril" id="cards (9)" src="../../../assets/images/cards (9).jpg" (click)="seleccionarCarta($event)">
<img alt="arbol" id="cards (10)" src="../../../assets/images/cards (10).jpg" (click)="seleccionarCarta($event)">
<img alt="melon" id="cards (11)" src="../../../assets/images/cards (11).jpg" (click)="seleccionarCarta($event)">
<img alt="valiente" id="cards (12)" src="../../../assets/images/cards (12).jpg" (click)="seleccionarCarta($event)">
<img alt="gorrito" id="cards (13)" src="../../../assets/images/cards (13).jpg" (click)="seleccionarCarta($event)">
<img alt="muerte" id="cards (14)" src="../../../assets/images/cards (14).jpg" (click)="seleccionarCarta($event)">
<img alt="pera" id="cards (15)" src="../../../assets/images/cards (15).jpg" (click)="seleccionarCarta($event)">
<img alt="bandera" id="cards (16)" src="../../../assets/images/cards (16).jpg" (click)="seleccionarCarta($event)">
<img alt="bandolon" id="cards (17)" src="../../../assets/images/cards (17).jpg" (click)="seleccionarCarta($event)">
<img alt="violonchelo" id="cards (18)" src="../../../assets/images/cards (18).jpg" (click)="seleccionarCarta($event)">
<img alt="garza" id="cards (19)" src="../../../assets/images/cards (19).jpg" (click)="seleccionarCarta($event)">
<img alt="pajaro" id="cards (20)" src="../../../assets/images/cards (20).jpg" (click)="seleccionarCarta($event)">
<img alt="mano" id="cards (21)" src="../../../assets/images/cards (21).jpg" (click)="seleccionarCarta($event)">
<img alt="bota" id="cards (22)" src="../../../assets/images/cards (22).jpg" (click)="seleccionarCarta($event)">
<img alt="luna" id="cards (23)" src="../../../assets/images/cards (23).jpg" (click)="seleccionarCarta($event)">
<img alt="cotorro" id="cards (24)" src="../../../assets/images/cards (24).jpg" (click)="seleccionarCarta($event)">
<img alt="borracho" id="cards (25)" src="../../../assets/images/cards (25).jpg" (click)="seleccionarCarta($event)">
<img alt="negrito" id="cards (26)" src="../../../assets/images/cards (26).jpg" (click)="seleccionarCarta($event)">
<img alt="corazon" id="cards (27)" src="../../../assets/images/cards (27).jpg" (click)="seleccionarCarta($event)">
<img alt="sandia" id="cards (28)" src="../../../assets/images/cards (28).jpg" (click)="seleccionarCarta($event)">
<img alt="tambor" id="cards (29)" src="../../../assets/images/cards (29).jpg" (click)="seleccionarCarta($event)">
<img alt="camaron" id="cards (30)" src="../../../assets/images/cards (30).jpg" (click)="seleccionarCarta($event)">
<img alt="jaras" id="cards (31)" src="../../../assets/images/cards (31).jpg" (click)="seleccionarCarta($event)">
<img alt="musico" id="cards (32)" src="../../../assets/images/cards (32).jpg" (click)="seleccionarCarta($event)">
<img alt="arana" id="cards (33)" src="../../../assets/images/cards (33).jpg" (click)="seleccionarCarta($event)">
<img alt="soldado" id="cards (34)" src="../../../assets/images/cards (34).jpg" (click)="seleccionarCarta($event)">
<img alt="estrella" id="cards (35)" src="../../../assets/images/cards (35).jpg" (click)="seleccionarCarta($event)">
<img alt="cazo" id="cards (36)" src="../../../assets/images/cards (36).jpg" (click)="seleccionarCarta($event)">
<img alt="mundo" id="cards (37)" src="../../../assets/images/cards (37).jpg" (click)="seleccionarCarta($event)">
<img alt="apache" id="cards (38)" src="../../../assets/images/cards (38).jpg" (click)="seleccionarCarta($event)">
<img alt="nopal" id="cards (39)" src="../../../assets/images/cards (39).jpg" (click)="seleccionarCarta($event)">
<img alt="alacran" id="cards (40)" src="../../../assets/images/cards (40).jpg" (click)="seleccionarCarta($event)">
<img alt="rosa" id="cards (41)" src="../../../assets/images/cards (41).jpg" (click)="seleccionarCarta($event)">
<img alt="calabera" id="cards (42)" src="../../../assets/images/cards (42).jpg" (click)="seleccionarCarta($event)">
<img alt="campana" id="cards (43)" src="../../../assets/images/cards (43).jpg" (click)="seleccionarCarta($event)">
<img alt="cantarito" id="cards (44)" src="../../../assets/images/cards (44).jpg" (click)="seleccionarCarta($event)">
<img alt="venado" id="cards (45)" src="../../../assets/images/cards (45).jpg" (click)="seleccionarCarta($event)">
<img alt="sol" id="cards (46)" src="../../../assets/images/cards (46).jpg" (click)="seleccionarCarta($event)">
<img alt="corona" id="cards (47)" src="../../../assets/images/cards (47).jpg" (click)="seleccionarCarta($event)">
<img alt="chalupa" id="cards (48)" src="../../../assets/images/cards (48).jpg" (click)="seleccionarCarta($event)">
<img alt="pino" id="cards (49)" src="../../../assets/images/cards (49).jpg" (click)="seleccionarCarta($event)">
<img alt="pescado" id="cards (50)" src="../../../assets/images/cards (50).jpg" (click)="seleccionarCarta($event)">
<img alt="palmera" id="cards (51)" src="../../../assets/images/cards (51).jpg" (click)="seleccionarCarta($event)">
<img alt="maceta" id="cards (52)" src="../../../assets/images/cards (52).jpg" (click)="seleccionarCarta($event)">
<img alt="arpa" id="cards (53)" src="../../../assets/images/cards (53).jpg" (click)="seleccionarCarta($event)">
<img alt="rana" id="cards (54)" src="../../../assets/images/cards (54).jpg" (click)="seleccionarCarta($event)">
</div>
<div class = "w-50 h-50">
  <div class = "h-25 ">
  <h2 align="center">
    Cartas Seleccionadas
  </h2>
  <img *ngFor="let item of idCartas"   alt="carta {{item}}" id="{{item}}" src="../../../assets/images/{{item}}.jpg" (click)="eliminarCarta($event)">
  </div>
  <div class = "h-25">
    <h2 align="center">
      Monto a Pagar
    </h2>
    <h3 align="center">
      <label id="monto">$00.00</label>
    </h3>
    
  </div>
  <div class = "h-25" style = "justify-content: center">
    <input type="radio" value="interna" name="perosna" ngModel>PARA MI
    <input type="radio" value="externa" name="persona" ngModel>PARA OTRA PERSONA
    <div name="nombreexterno">
    <h2 align="center" id="etiqueta">
      Ingrese el nombre del dueño
    </h2>
    <input class = "w-100" type="text" id="lname" name="lname"><br>
    </div>
    <button class = "l-10" >Guardar</button>
  </div>
</div>

</div>